<VerticalTimeline as |timeline|>

  {{#each this.steps as |step|}}
    <timeline.block as |block|>
      <block.image style="display: flex;" class="green-timeline-pill">
        <img class="timeline-image-hackaton" src={{step.image}} />
      </block.image>
      <block.content as |content|>
        <h2>{{step.title}}</h2>
        <p>{{step.description}}</p>
        <a href="#0" class="cd-read-more">Read more</a>
        <content.date>{{step.startDateString}}</content.date>
      </block.content>
    </timeline.block>
  {{/each}}

</VerticalTimeline>